<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
</head>
<body>
    <h2>Add New Post</h2>
    <form method="post" action="/posts">
        username: <input type="text" placeholder="username" name="username" class="name"><br><br>
        content: <textarea name="content" placeholder="type content" class="content"></textarea><br>
        <button class="btn">Submit</button>
    </form>
</body>
</html>